.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
}

.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  z-index: 99999;
  position: fixed;
  width: 100%;
  background: white;
}

nav > div {
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-padding {
  padding: 1rem 0rem;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-items a {
  color: hsl(233, 8%, 62%);
}

.nav-items a:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #444;
  background: linear-gradient(left, transparent 0%, #444 50%, transparent 100%);
}

footer {
  background-color: hsl(233, 26%, 24%);
  color: #ffffff;
}

.footer-container-spacing {
  padding: 3rem 2rem;
}

.footer-logo-socials-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 8rem;
  gap: 3rem;
}

.footer-socials {
  display: flex;
  gap: 0.75rem;
}

.footer-nav-items-layout {
  display: flex;
  gap: 5rem;
}

.footer-nav-items-spacing {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer-nav-items-spacing a {
  color: white;
}

.footer-nav-items-spacing a:hover {
  color: hsl(136, 65%, 51%);
}

.copyright {
  font-size: 13px;
  color: hsl(233, 8%, 62%);
}

.display-flex-only {
  display: flex;
}

.align-button-end {
  text-align: end;
}

@media (max-width: 1215px) {
  .container {
    max-width: 960px;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .navbar-burger {
    appearance: none;
    background: 0 0;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
  }

  .navbar-burger span {
    background-color: hsl(136, 65%, 51%);
    display: block;
    height: 2px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
  }

  .navbar-burger span:first-child {
    top: calc(50% - 6px);
  }

  .navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
  }

  .navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
  }

  .navbar-menu {
    display: none;
  }
}

@media (max-width: 707px) {
  .space-between-center {
    flex-direction: column;
    justify-content: center;
  }

  .column-center-footer-items {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo-socials-layout {
    margin: 0;
  }

  .footer-nav-items-layout {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .top-footer-nav-margin {
    margin-top: 1.5rem;
  }

  .footer-nav-items-spacing {
    margin-top: 1rem;
  }
}
