.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
}

.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  z-index: 99999;
  position: fixed;
  width: 100%;
  background: white;
}

.nav-padding {
  padding: 1rem 0rem;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-items a {
  color: hsl(233, 8%, 62%);
}

.nav-items a:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #444;
  background: linear-gradient(left, transparent 0%, #444 50%, transparent 100%);
}

footer {
  background-color: hsl(233, 26%, 24%);
  color: #ffffff;
}

.footer-container-spacing {
  padding: 3rem 0rem;
}

.footer-logo-socials-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 5rem;
  gap: 3rem;
}

.footer-socials {
  display: flex;
  gap: 0.75rem;
}

.footer-nav-items-layout {
  display: flex;
  gap: 5rem;
}

.footer-nav-items-spacing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-nav-items-spacing a {
  color: white;
}

.footer-nav-items-spacing a:hover {
  color: hsl(136, 65%, 51%);
}

.display-flex-only {
  display: flex;
}

.align-button-end {
  text-align: end;
}
