.hero-container-spacing {
  padding-top: 12rem;
  padding-bottom: 9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero-background {
  background-color: hsl(0, 0%, 98%);
}

.background-shapes {
  background-image: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 450px) calc(100% + 130px);
}

.h1-container {
  width: 400px;
  padding-top: 2.5rem;
}

.h1-text {
  font-size: 2.5rem;
  color: hsl(233, 26%, 24%);
  line-height: 1.25;
}

.h1-subtext {
  color: hsl(233, 8%, 62%);
  line-height: 1.25;
  margin: 2rem 0rem;
}

.cellphone-container {
  position: absolute;
  top: -50px;
  right: -130px;
}

@media (max-width: 1215px) {
  .hero-container-spacing {
    padding-bottom: 5rem;
    padding-top: 0rem;
  }

  .reverse-columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .cellphone-container {
    position: inherit;
  }

  .h1-container {
    width: 100%;
    text-align: center;
  }

  .background-shapes {
    background: white;
  }

  .mobile-background-shapes {
    background: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 1024px) {
}
