.hero-container-spacing {
  padding-top: 12rem;
  padding-bottom: 9rem;
}

.hero-background {
  background-color: hsl(0, 0%, 98%);
}

.background-shapes {
  background-image: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 450px) calc(100% + 130px);
}

.h1-container {
  width: 400px;
  padding-top: 2.5rem;
}

.h1-text {
  font-size: 2.5rem;
  color: hsl(233, 26%, 24%);
  line-height: 1.25;
}

.h1-subtext {
  color: hsl(233, 8%, 62%);
  line-height: 1.25;
  margin: 2rem 0rem;
}

.cellphone-container {
  position: absolute;
  top: -50px;
  right: -130px;
}

/*
.background-shapes {
  background-image: url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% + 125px) calc(100% + 240px),
    calc(100% + 300px) calc(100% + 200px);
}
*/
